/* heading + description */
.section.chooseaprepaid-container .default-content-wrapper h1 {
    margin-top: 30px;
    margin-bottom: 1px;
    font-size: 48px;
    color: #384c72;
    line-height: 40.68px;
    text-align: center;
}

.section.chooseaprepaid-container {
    position: relative;
    height: fit-content;
    width: 80%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px 0 62px;
    row-gap: 5px;
    max-width: 1078px;
    margin: auto;
}

.section.chooseaprepaid-container .default-content-wrapper {
    display: flex;
    flex-direction: column;
}

.chooseaprepaid-container .default-content-wrapper p {
    margin-bottom: 8px;
    font-size: 16px;
    padding: 1px;
    color: #667085;
    line-height: 32.56px;
    text-align: center;
}

.chooseaprepaid-wrapper{
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
}

.chooseaprepaid.cards.block {
    padding: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
}

.chooseaprepaid.cards.block img{
    border-radius: 6px;
}

/* image 1 */
.chooseaprepaid.cards.block > div:first-child {
    border-radius: 12px;
    grid-row: 1 / span 2;
    position: relative;
}

/* image 2 */
.chooseaprepaid.cards.block > div:nth-of-type(2) {
    border-radius: 12px;
    position: relative;
}

/* image 3 */
.chooseaprepaid.cards.block > div:last-child {
    border-radius: 12px;
    position: relative;
}

.chooseaprepaid.cards.block > div:nth-of-type(2) p:nth-of-type(1) {
    font-size: 31px;
    top: 30px;
    color: #fff;
    position: absolute;
    left: 44px;
}

.chooseaprepaid.cards.block > div:nth-of-type(2) p:nth-of-type(2) {
    font-size: 20px;
    top: 84px;
    font-weight: 500;
    color: #fff;
    position: absolute;
    left: 45px;
}

.chooseaprepaid.cards.block > div:last-child p:first-child {
    font-size: 32px;
    font-weight: bold;
    top: 12px;
    color: #fff;
    position: absolute;
    left: 43px;
}

.chooseaprepaid.cards.block > div:last-child p:nth-of-type(2) {
    font-size: 20px;
    top: 68px;
    color: #fff;
    position: absolute;
    left: 42px;
    font-weight: 500;
}

.chooseaprepaid.cards.block > div:first-child div:last-child p:first-child {
    font-size: 34px;
    font-weight: 500;
    top: 45px;
    margin-top: 2px;
    color: #fff;
    position: absolute;
    left: 40px;
}

.chooseaprepaid.cards.block > div:first-child div:last-child p:nth-of-type(2) {
    top: 82px;
    position: absolute;
    left: 38px;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
}

.chooseaprepaid.cards.block > div:first-child div:last-child p:last-child {
    font-size: 34px;
    font-weight: bold;
    top: 60px;
    color: #fff;
    position: absolute;
    left: 309px;
}

.chooseaprepaid.cards.block > div:nth-of-type(2) div:last-child p:last-child {
    font-size: 34px;
    font-weight: bold;
    top: 60px;
    color: #fff;
    position: absolute;
    left: 267px;
}

.chooseaprepaid.cards.block > div:last-child div:last-child p:last-child {
    font-size: 34px;
    font-weight: bold;
    top: 45px;
    color: #fff;
    position: absolute;
    left: 389px;
}

@media (width <= 1024px) {
    .chooseaprepaid.cards.block {
        padding: 20px 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 18px;
    }

    .chooseaprepaid.cards.block > div:last-child p:first-child {
        font-size: 28px;
        font-weight: bold;
        top: -4px !important;
        left: 25px;
    }

    .chooseaprepaid.cards.block > div:last-child p:nth-of-type(2) {
        font-size: 20px;
        width: 242px;
        top: 42px;
        left: 23px;
    }

    .chooseaprepaid.cards.block > div:nth-of-type(2) p:nth-of-type(1) {
        font-size: 30px;
        top: 1px;
        left: 33px;
    }

    .chooseaprepaid.cards.block > div:nth-of-type(2) p:nth-of-type(2) {
        font-size: 20px;
        top: 56px;
        font-weight: 500;
        color: #fff;
        position: absolute;
        left: 34px;
    }

    .chooseaprepaid.cards.block > div:first-child div:last-child p:first-child {
        font-size: 33px;
        font-weight: 500;
        top: 25px !important;
        margin-top: 2px;
        left: 40px;
    }

    .chooseaprepaid.cards.block
        > div:first-child
        div:last-child
        p:nth-of-type(2) {
        top: 60px;
    }

    .chooseaprepaid.cards.block > div:first-child div:last-child p:last-child {
        left: 65%;
        top: 6%;
    }

    .chooseaprepaid.cards.block
        > div:nth-of-type(2)
        div:last-child
        p:last-child {
        left: 53% !important;
        top: 11% !important;
    }

    .chooseaprepaid.cards.block > div:last-child div:last-child p:last-child {
        left: 36% !important;
        top: 17% !important;
    }
}

/* Tablet styles (max-width: 768px) */
@media (width <= 768px) {
    .section.chooseaprepaid-container .default-content-wrapper h1 {
        margin: 0;
        font-size: 36px;
        color: #384c72;
        line-height: 38px;
        text-align: center;
    }

    .chooseaprepaid-container .default-content-wrapper p {
        font-size: 14px;
        color: #667085;
        line-height: 28px;
        text-align: center;
    }

    .chooseaprepaid.cards.block > div:nth-of-type(2) p:nth-of-type(2) {
        font-size: 15px;
        top: 39px;
        font-weight: 500;
        left: 27px;
    }

    .chooseaprepaid.cards.block > div:last-child p:first-child {
        font-size: 23px;
        top: -6px;
        position: absolute;
        left: 26px;
    }

    .chooseaprepaid.cards.block > div:last-child p:nth-of-type(2) {
        font-size: 14px;
        top: 38px;
        left: 25px;
    }

    .chooseaprepaid.cards.block > div:nth-of-type(2) p:nth-of-type(1) {
        font-size: 25px;
        top: -8px;
        left: 28px;
    }

    

    .chooseaprepaid.cards.block > div:first-child div:last-child p:last-child {
        left: 234px !important;
        top: 8px !important;
    }

    .chooseaprepaid.cards.block {
        padding: 15px 30px !important;
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .chooseaprepaid.cards.block
        > div:nth-of-type(2)
        div:last-child
        p:last-child {
        left: 32% !important;
        top: 2% !important;
    }

    .chooseaprepaid.cards.block > div:first-child div:last-child p:first-child {
        font-size: 25px;
        top: 7px !important;
        left: 29px;
    }

    .chooseaprepaid.cards.block
        > div:first-child
        div:last-child
        p:nth-of-type(2) {
        font-size: 15px;
        top: 39px;
        left: 26px;
    }

    .chooseaprepaid.cards.block > div:last-child div:last-child p:last-child {
        top: 3px !important;
        left: 280px !important;
    }
}

@media (width <= 768px) and (width >= 480px) {
    .section.chooseaprepaid-container {
        width:100%;
       padding: 255px 0 0;
    }
}

/* Mobile styles (max-width: 480px) */
@media screen and (width <= 480px) {
     .section.chooseaprepaid-container {
       width:100%;
       padding: 255px 0 0;
     }

    .section.joinlyca-container .default-content-wrapper{
        padding-bottom:0;
    }

    .section.chooseaprepaid-container .default-content-wrapper h1 {
        margin-top: 20px;
        font-size: 28px;
        color: #384c72;
        line-height: 34px;
        text-align: center;
    }

    .chooseaprepaid-wrapper {
        padding: 1px !important;
    }

    .chooseaprepaid-container .default-content-wrapper p {
        font-size: 12px;
        color: #667085;
        line-height: 24px;
        text-align: center;
    }

    .chooseaprepaid.cards.block {
        padding: 15px !important;
        display: grid;
        grid-template-columns: 1fr;
        gap: 12px;
    }

    .chooseaprepaid.cards.block > div:nth-of-type(2) p:nth-of-type(1) {
        font-size: 22px;
        top: -6px;
        left: 18px;
    }

    .chooseaprepaid.cards.block > div:nth-of-type(2) p:nth-of-type(2) {
        font-size: 17px;
        top: 33px;
        font-weight: 500;
        left: 19px;
    }

    .chooseaprepaid.cards.block > div:last-child p:first-child {
        font-size: 25px;
        font-weight: bold;
        top: 8px;
        color: #fff;
        position: absolute;
        left: 20px;
    }

    .chooseaprepaid.cards.block > div:last-child p:nth-of-type(2) {
        font-size: 16px;
        top: 50px;
        color: #fff;
        position: absolute;
        left: 20px;
        font-weight: 500;
    }

    .chooseaprepaid.cards.block > div:first-child div:last-child p:first-child {
        font-size: 26px;
        top: 18px !important;
        color: #fff;
        position: absolute;
        left: 20px;
    }

    .chooseaprepaid.cards.block
        > div:first-child
        div:last-child
        p:nth-of-type(2) {
        top: 50px;
        position: absolute;
        left: 20px;
        color: #fff;
        font-weight: 500;
        font-size: 16px;
        text-decoration: none;
    }

    .chooseaprepaid.cards.block > div:first-child div:last-child p:last-child {
        left: 240px !important;
        top: 18px !important;
    }

    .chooseaprepaid.cards.block > div:last-child div:last-child p:last-child {
        left: 108px !important;
        top: 46px !important;
    }

    .chooseaprepaid.cards.block
        > div:nth-of-type(2)
        div:last-child
        p:last-child {
        left: 53% !important;
        top: 2% !important;
    }
}

/* Mobile styles (max-width: 330px) */
@media screen and (width <= 330px) {
    .chooseaprepaid.cards.block > div:last-child p:nth-of-type(2) {
        font-size: 16px;
        top: 50px;
        left: 20px;
    }

    .chooseaprepaid.cards.block
        > div:nth-of-type(2)
        div:last-child
        p:last-child {
        left: 66% !important;
        top: 3% !important;
    }
}
