/* Base layout */
.section.plantypes-container {
  display: flex;
  flex-direction: column;
  padding: 0 !important;
  margin: 0 !important;
}

.plantypes-wrapper {
    width: 50%;
    margin: auto;
}

.plantypes-container {
  background-color: #eff8ff;
  text-align: center;
  font-family: Arial, sans-serif;
}

.plantypes-container .default-content-wrapper p {
  margin-top: 44px;
  margin-bottom: 31px;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0;
  text-align: center;
  color: #3a3353;
}

.plantypes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px;
  justify-content: center;
  width: 100%;
}

.plantypes > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 150px;
  margin: 0 auto;
  border-radius: 12px;
  padding: 10px;
  transition: all 0.3s ease;
  animation: fade-in-up 0.6s ease forwards;
}

.plantypes picture {
  display: block;
  width: 100%;
}

.plantypes img {
  width: 107px;
  height: auto;
  border-radius: 12px;
  margin-bottom: 20px;
}

.plantypes p:first-child {
  width: 283px;
  font-size: 19px;
  font-weight: bold;
  color: #2c3e50;
  margin-bottom: 18px;
}

.plantypes p:last-child {
  margin: 0;
  text-align: center;
  font-size: 16px;
  color: #3c4242;
  line-height: 24px;
}

@media (width <= 599px) {
  .plantypes-container .default-content-wrapper p {
    font-size: 30px;
    font-weight: 600;
    line-height: 56px;
    margin-bottom: 20px;
    margin-top: 1px;
  }

  .plantypes {
    grid-template-columns: repeat(2, 1fr); 
    padding: 20px;
    justify-content: center;
  }

  .plantypes > div {
    width: 300px;
    padding: 10px 20px;
    margin: 1px auto;
  }

.plantypes img {
    width: 85px;
    height: auto;
    border-radius: 12px;
    margin-bottom: 1px;
}

  .plantypes p:first-child {
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 1px !important;
  }

.plantypes p:first-child {
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 1px !important;
  }
  
}


