.section.plantypes-container {
  display: flex;
  flex-direction: column;
  background-color: #eff8ff;
  margin-top: 40px;
  padding-bottom: 50px;
}

/* Text styling */
.plantypes p {
  margin: 1px;
  font-size: 16px;
  font-weight: 600;
  color: #2c3e50;
  line-height: 1.3;
  text-align: center;
}

.section.plantypes-container .default-content-wrapper p {
    font-size: 51px;
    font-weight: bold;
    margin-bottom: 41px;
    letter-spacing: 0;
    color: #344054;
  }

/* Outer wrapper stays block */
.plantypes-wrapper {
  overflow-x: auto;
  padding: 10px;
  box-sizing: border-box;
}

/* Flex applied to actual card container */
.plantypes.plans.block {
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
  scroll-snap-type: x mandatory;
}

/* Each card */
.plantypes.plans.block > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  padding: 8px;
  border-radius: 8px;
  box-sizing: border-box;
  min-width: 150px;
  scroll-snap-align: start;
}

.plantypes.plans.block picture img {
  width: 120px;
  height: auto;
}




/* Responsive tweaks */
@media (width <= 1026px) {
  .plantypes p {
    font-size: 13px;
  }

  .section.plantypes-container .default-content-wrapper p {
   font-size: 51px;
    color: #344054;
  }

  .plantypes.plans.block > div {
    min-width: 130px;
    padding: 6px;
  }

  .plantypes.plans.block picture img {
  width: 100px;
  height: auto;
}

  
}

/* Responsive tweaks */
@media (width <= 768px) {
  .plantypes p {
    font-size: 13px;
  }

  .section.plantypes-container .default-content-wrapper p {
   font-size: 31px;
    color: #344054;
  }

  .plantypes.plans.block > div {
    min-width: 130px;
    padding: 6px;
  }

  .plantypes.plans.block picture img {
  width: 100px;
  height: auto;
}

  
}

@media (width <= 430px) {
.plantypes picture {
    max-width: 50px;
  }  

  .plantypes p {
    font-size: 12px;
  }

  .section.plantypes-container .default-content-wrapper p {
    font-size: 25px;
    color: #344054;
    margin-bottom: 10px;
  }

  .plantypes.plans.block picture img {
  width: 90px;
  height: auto;
  }

  .plantypes-wrapper{
    padding: 1px !important;
  }

  .plantypes.plans.block {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 275px;
}

}
