/* Carousel container */
.carousel-container {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  overflow-x: auto;
  padding: 0 !important;
  margin: 0 !important;
  anchor-name: --carousel;
  scroll-snap-type: x mandatory;
}

/* Hide scrollbar */
.carousel-container::-webkit-scrollbar {
  display: none;
}

/* Carousel wrapper */
.carousel-wrapper {
  width: 100%;
  max-width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
}

/* Banner carousel for slides */
.carousel-container .bannercarousel {
  display: flex;
  width: 100%;
}

/* Left and right arrows */
.btn-next, .btn-prev {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  z-index: 10;
  border-radius: 50%;
  cursor: pointer;
  position-anchor: --carousel;
  background-color: rgb(87 86 86);
  transform: translateX(-150%);
}

/* Left arrow specific styles */
.btn-prev {
  position-area: left center; 
  transform: translateX(150%);
}

/* Right arrow specific styles */
.btn-next {
  position-area: right center; 
}

/* Shared hover/focus styles for both arrows */
.btn-prev:hover, .btn-prev:focus, .btn-next:hover, .btn-next:focus {
  background-color: rgb(92 91 91); 
}

/* Making full width for slides except for left and right arrow */
.slide {
  flex: 0 0 100%;
  min-width: 100%;
}

/* Making full width of inner div */
.slide > div {
  width: 100%;
  height: 100%;
}

/* Making slide picture and img as full width */
.slide picture,
.slide picture img {
  display: block;
  width: 100% !important;
  height: auto !important;
  object-fit: cover;
  cursor: pointer;
}

/* Carousel dots container */
.carousel-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
  z-index: 5;
}

/* Each dot */
.carousel-dot {
  width: 8px;
  height: 8px;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  background-color:#bec5d5;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Active dot */
.carousel-dot.active {
  width: 47px;
  border-radius: 30%;
  background-color: rgb(53, 63, 87)
}

/* Left and right arrows hiding for tablet and mobile */
@media (width <= 768px) { 
  .btn-next,
  .btn-prev {
    display: none;
  }

  .slide picture,
.slide picture img {
  overflow: hidden;
  height:70vw !important;
}

}
