footer {
  background-color: var(--light-color);
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}

.footer-wrapper {
  width: 100%;
  background-color: #21254f;
  height: fit-content;
}

footer .footer {
  width: auto;
  margin-right: 34px;
}

footer .footer-child-wrapper {
  max-width: 1372px;
  margin: auto;
}

footer .footer-child-wrapper .section {
  width: 100%;
  margin: auto;
}

.footer-child-wrapper .section > div {
  width: 100%;
}

.footer-child-wrapper .list-wrapper {
  width: inherit;
  display: flex;
  justify-content: space-between;
}

.footer-child-wrapper .list-wrapper > div > div {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  font-size: 16px;
  color: #fff;
  width: 100%;
  gap: 16px;
}

.footer-child-wrapper .list-wrapper > div > div > table td:first-of-type {
  width: 100%;
  font-weight: 700;
  text-align: left;
}

.footer-child-wrapper .list-wrapper > div > div > table td:last-of-type {
  display: none;
}

.footer-child-wrapper .list-wrapper > div > div > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
  padding: 0;
}

.footer-child-wrapper .list-wrapper > div > div > ul > li > a {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.5px;
}

.footer-child-wrapper .list-wrapper > div:last-of-type > div > ul,
.footer-child-wrapper .list-wrapper > div:last-of-type > div {
  gap: 10px;
}

.footer-child-wrapper .list-wrapper > div:last-of-type img {
  border-radius: 8px;
  width: 135px;
  height: 40px;
}

.footer-child-wrapper > .section:last-of-type {
  width: 100%;
  padding-left: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.footer-child-wrapper .default-content-wrapper {
  width: 100%;
  border-top: 1px solid #bec6d5;
  display: flex;
  justify-content: space-between;
  padding-top: 36px;
  padding-bottom: 36px;
}

.footer-child-wrapper .default-content-wrapper > p:nth-of-type(2) {
  color: #fff;
  font-size: 16px;
}

.footer-child-wrapper .default-content-wrapper > p:last-of-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  color: #fff;
}

.footer-child-wrapper .default-content-wrapper > p:last-of-type img {
  height: 32px;
  width: 32px;
  border-radius: 100%;
}

.footer-child-wrapper .default-content-wrapper > p:first-of-type img {
  width: 93px;
  height: 36px;
}

/* Small screens */
@media screen and (width <= 599px) {
  .footer-child-wrapper {
    padding: 0;
  }

  .footer-child-wrapper .list-wrapper > div > div > table td:last-of-type {
    display: block;
  }

  .footer-child-wrapper .list-wrapper {
    flex-direction: column;
    max-width: 97%;
    gap: 16px;
    padding-top: 5px;
  }

  .footer-child-wrapper .list-wrapper > div > div > ul {
    display: none;
  }

  .footer-child-wrapper .list-wrapper > div:last-of-type {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
  }

  .footer-child-wrapper .list-wrapper > div:last-of-type > div {
    padding: 24px 0;
    border-top: 1px solid #bec6d5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
  }

  .footer-child-wrapper .list-wrapper > div:last-of-type > div > table td:first-of-type {
    display: flex;
    justify-content: center;
  }

  .footer-child-wrapper .list-wrapper > div:last-of-type > div > ul {
    display: flex;
    margin-left: 10%;
    flex-direction: row;
    justify-content: center;
    gap: 4px;
  }

  .footer-child-wrapper .list-wrapper > div:last-of-type > div > ul img {
    width: 99px;
    height: 29px;
  }

  .footer-child-wrapper .default-content-wrapper > p:nth-of-type(1),
  .footer-child-wrapper .default-content-wrapper > p:nth-of-type(3) {
    display: none;
  }

  .footer-child-wrapper .default-content-wrapper {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
  }
}

@media screen and (600px <= width <= 767px) {
  .footer {
    padding: 0 16px;
    margin: 0;
  }

  .footer-child-wrapper {
    padding: 5px;
  }

  .footer-child-wrapper .list-wrapper > div > div > table td:last-of-type {
    display: none;
  }

  .list-wrapper {
    flex-direction: column;
  }

  .footer-child-wrapper .default-content-wrapper > p:nth-of-type(1),
  .footer-child-wrapper .default-content-wrapper > p:nth-of-type(3) {
    display: none;
  }

  .footer-child-wrapper .default-content-wrapper {
    justify-content: center;
    align-items: center;
  }
}

@media screen and (767px <= width <= 768px) {
  .footer {
    padding: 0 16px;
    margin: 0;
  }

  footer .footer {
  width: auto;
  margin :0 !important;
  padding: 0 !important;
}

  .footer-child-wrapper {
    padding: 0;
  }

  .list-wrapper > div > div > table td:last-of-type {
    display: none;
  }

  .list-wrapper {
    flex-wrap: wrap;
    justify-content: center !important;
    row-gap: 24px;
  }

  .footer-child-wrapper .default-content-wrapper > p:nth-of-type(1),
  .footer-child-wrapper .default-content-wrapper > p:nth-of-type(3) {
    display: none;
  }

  .footer-child-wrapper .default-content-wrapper {
    justify-content: center;
    align-items: center;
    gap: 14px;
    font-size: 16px;
    line-height: 18.56px;
  }
}

@media screen and (769px <= width <= 1024px) {
  .footer {
    padding: 16px;
    margin: 0;
  }

  .footer-child-wrapper {
    padding: 0;
  }

  .footer-child-wrapper .list-wrapper > div > div > table td:last-of-type {
    display: none;
  }

  .footer-child-wrapper .list-wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 24px;
  }
}
