.section.rescentblogs-container {
  display: flex;
  flex-direction: column;
}

.rescentblogs-container {
  margin: 0 auto;
  padding: 30px !important;
}

.rescentblogs-container .default-content-wrapper p {
  font-size: 49px;
  font-weight: 700;
  line-height: 56px;
  text-align: center;
  color: #384c72;
  margin-bottom: 40px;
}

.rescentblogs-wrapper {
  display: flex;
  justify-content: center;
}

.rescentblogs.blogs.block picture img {
  width: 100%;
  height: auto;
  display: block;
}

.rescentblogs.blogs.block > div:first-child > div:first-child img {
  width: 500px;
  height: 242px;
}

.rescentblogs.blogs.block {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  justify-content: center;
  width: 100%;
}

.rescentblogs.blogs.block > div {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 19px;
  width: 100%;
  max-width: 350px;
  overflow: hidden;
}

.rescentblogs.blogs.block > div > div:last-child {
  padding: 12px;
}

.rescentblogs.blogs.block p:first-child {
  font-size: 18px;
  color: #344054;
  line-height: 24px;
  font-weight: 500;
}

.rescentblogs.blogs.block p:last-child {
  font-size: 16px;
  color: #87909f;
  line-height: 24px;
}

/* Mobile: 1 card per row */
@media (width <= 599px) {
  .rescentblogs.blogs.block {
    flex-direction: column;
    align-items: center;
  }

  .rescentblogs.blogs.block > div {
    width: 100%;
    max-width: 100%;
  }

.rescentblogs.blogs.block > div:first-child > div:first-child img {
  width: 800px;
  height: 300px;
}

  .rescentblogs-container .default-content-wrapper p {
    font-size: 27px !important;
    margin-bottom: 30px;
  }
}

/* Tablet: 1 card per row at exactly 768px */
@media (width <= 768px) and (width >= 1024px) {
  .rescentblogs.blogs.block {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .rescentblogs.blogs.block > div {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .rescentblogs.blogs.block > div:first-child > div:first-child img {
  width: 1000px;
  height: 300px;
}

.rescentblogs.blogs.block > div:nth-child(2) > div:first-child img {
  width: 1000px;
  height: 300px;
}

.rescentblogs.blogs.block > div:last-child > div:first-child img {
  width: 1000px;
  height: 300px;
}

  .rescentblogs-container .default-content-wrapper p {
    font-size: 35px !important;
    margin-bottom: 30px;
  }
}
