.rescentblogs-container {
  margin: 0 auto;
  padding:30px !important;
}

.rescentblogs-container .default-content-wrapper p {   
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-align: center;
  color: #384c72;
  margin-bottom: 40px;
}

.rescentblogs-wrapper {
  display: flex;
  justify-content: center;
}

.rescentblogs.blogs.block {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  justify-content: center;
  width: 100%;
}

.rescentblogs.blogs.block > div {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 100%;
  max-width: 350px;
  overflow: hidden;
}

.rescentblogs.blogs.block picture img {
  width: 100%;
  height: auto;
  display: block;
}

.rescentblogs.blogs.block > div > div:last-child {
  padding: 12px;
}

.rescentblogs.blogs.block p:first-child {
  font-size: 18px;
  color: #344054;
  line-height: 24px;
  font-weight: 500;
}

.rescentblogs.blogs.block p:last-child {
  font-size: 16px;
  color: #87909f;
  line-height: 24px;
}

@media (600px <= width <= 1023px) {
  .rescentblogs.blogs.block > div {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (width >= 1024px) {
  .rescentblogs.blogs.block > div {
    flex: 1 1 calc(33.33% - 20px);
  }
}
