.section.joinlyca-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #21254f;
  color: white;
}

.joinlyca-wrapper {
  padding: 1px !important;
  width: 100%;
}

.joinlyca.card.block {
  display: flex;
}

.section.joinlyca-container .default-content-wrapper {
  text-align: center;
  padding: 10px 20px 200px;
}

.section.joinlyca-container .joinlyca.card.block > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000;
  border-radius: 8px;
  padding: 15px 1px;
  width: 30%;
  min-width: 170px;
  box-sizing: border-box;
}

.section.joinlyca-container .default-content-wrapper h1 {
  font-size: 3rem;
  line-height: 3.48rem;
  color: #fff;
  margin-top: 5px;
  margin-bottom: 0.25rem;
  font-family: GTEestiLCDisplayBold, sans-serif;
}

.section.joinlyca-container .default-content-wrapper p {
  font-size: 1.3rem;
  line-height: 1.16rem;
  color: #fff;
  margin-bottom: 1.2rem;
  font-family: GTEestiLCDisplayRegular, sans-serif;
  text-align: center;
}

.section.joinlyca-container .joinlyca-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.section.joinlyca-container .joinlyca.card.block picture img {
  width: auto;
  max-width: 90px;
  height: auto;
  object-fit: contain;
}

.section.joinlyca-container .joinlyca.card.block > div > div:last-child p {
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin-top: 10px;
  text-align: center;
}

@media (width <= 1024px) {
  .section.joinlyca-container .joinlyca.card.block > div {
    width: 30%;
    min-width: 150px;
  }

  .section.joinlyca-container .default-content-wrapper h1 {
    font-size: 2rem;
    line-height: 3.48rem;
    color: #fff;
    margin-top: 1px;
    margin-bottom: 1px;
    font-family: GTEestiLCDisplayBold, sans-serif;
  }

  .section.joinlyca-container .joinlyca.card.block picture img {
    max-width: 80px;
  }

  .section.joinlyca-container .default-content-wrapper p {
    font-size: 1.1rem;
    margin-bottom: 1.2rem;
    font-family: GTEestiLCDisplayRegular, sans-serif;
  }
}

@media (width <= 768px) {
  .section.joinlyca-container .joinlyca.card.block > div {
    width: 30%;
    min-width: 150px;
  }

      .section.joinlyca-container .default-content-wrapper p {
        font-size: 15px;
        margin-bottom: 1.2rem;
        font-family: GTEestiLCDisplayRegular, sans-serif;
    }

}

@media (width <= 430px) {
  .section.joinlyca-container .joinlyca-wrapper {
    gap: 10px;
    padding: 0 10px;
  }

  .section.joinlyca-container .joinlyca.card.block > div {
    min-width: 120px;
  }

  .section.joinlyca-container .default-content-wrapper p {
    font-size: 13px;
    font-family: GTEestiLCDisplayRegular, sans-serif;
  }

  .section.joinlyca-container .joinlyca.card.block > div > div:last-child p {
    font-size: 13px;
  }

  .section.joinlyca-container .joinlyca.card.block picture img {
    max-width: 75px;
  }
}

@media (width <= 385px) {
  .section.joinlyca-container {
    padding: 1px;
  }

  .section.joinlyca-container .joinlyca-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    padding: 1px;
    box-sizing: border-box;
  }

  .section.joinlyca-container .joinlyca.card.block > div {
    flex: 0 0 45%;
    max-width: 45%;
    padding: 10px;
    box-sizing: border-box;
  }

  .section.joinlyca-container .joinlyca.card.block > div:nth-child(3) {
    flex: 0 0 100%;
    max-width: 300px;
    margin: 1px auto;
  }

  .joinlyca.card.block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .section.joinlyca-container .joinlyca.card.block picture img {
    max-width: 70px;
    height: auto;
    object-fit: contain;
  }

  .section.joinlyca-container .default-content-wrapper p {
    font-size: 13px;
    line-height: 1.16rem;
    color: #fff;
    margin-bottom: 1.2rem;
    font-family: GTEestiLCDisplayRegular, sans-serif;
    text-align: center;
  }

  .section.joinlyca-container .joinlyca.card.block > div > div:last-child p {
    font-size: 10px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
  }

  
}
