.section.joinlyca-container {
  display: flex;
  flex-direction: column;
  background: #1a2253;
  color: #fff;
  text-align: center;
  padding: 10px 20px;
  margin-bottom: 100px;
}

.section.joinlyca-container .default-content-wrapper {
  display: flex;
  flex-direction: column;
}

.section.joinlyca-container h1 {
  font-family: GTEestiLCDisplayBold;
  font-size: 3.5rem;
  line-height: 3.48rem;
  color: #fff;
  font-weight: 700;
  text-align: center;
  margin: 30px;
}

.section.joinlyca-container p {
  font-size: 1rem;
  line-height: 1.16rem;
  color: #fff;
  margin-bottom: 1.2rem;
  margin-top: 0;
  text-align: center;
}

.joinlyca-container .default-content-wrapper > p {
  color: rgb(253, 253, 253);
  font-size: 21px;
  font-family: GTEestiLCDisplayBold;  
  margin: 1px 1px 40px 1px !important;
}

.joinlyca.card.block img {
  width: 100px !important;
  height: auto !important;
  margin-bottom: 5px;
}

.joinlyca.card.block {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
}

.joinlyca.card.block > div {
  border-radius: 50%;
  width: 180px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  color: #fff;
}

.joinlyca.card.block p {
  font-size: 1rem;
  line-height: 1.16rem;
  color: #fff;
  text-decoration: none;
}

/* 📱 Mobile: up to 599px */
@media (max-width: 599px) {
  .joinlyca.card.block {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .joinlyca-container .default-content-wrapper > p {
  color: rgb(255, 253, 253);
  font-size: 15px;
  font-family: GTEestiLCDisplayBold;  
  margin: 1px 1px 40px 1px !important;
}

  .section.joinlyca-container h1 {
    font-size: 2.2rem;
    line-height: 2.2rem;
    margin: 20px;
  }

  .joinlyca.card.block > div {
    width: 160px;
    height: 160px;
  }
}

/* 📲 Tablet: 600px to 768px */
@media (min-width: 600px) and (max-width: 768px) {
  .joinlyca.card.block {
    align-items: center;
    gap: 30px;
  }

.joinlyca-container .default-content-wrapper > p {
  color: rgb(255, 253, 253);
  font-size: 16px;
  font-family: GTEestiLCDisplayBold;
  margin-bottom: 40px;
}


  .section.joinlyca-container h1 {
        font-family: GTEestiLCDisplayBold;
    font-size: 2.8rem;
    line-height: 3rem;
    margin: 25px;
  }

  .joinlyca.card.block > div {
    width: 170px;
    height: 170px;
  }
}

/* 💻 Desktop: 769px and up */
@media (min-width: 769px) {
  .joinlyca.card.block {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
  }


  .section.joinlyca-container h1 {
    font-size: 3.5rem;
    line-height: 3.48rem;
    margin: 30px;
  }

  .joinlyca.card.block > div {
    width: 180px;
    height: 180px;
  }
}
